version: '3.8'

services:
  zookeeper:
    image: zookeeper:3.9.3
    container_name: zookeeper_server
    restart: always
    ports:
      - "2181:2181"
    environment:
      ZOO_MY_ID: 1
      ZOO_4LW_COMMANDS_WHITELIST: "*"
    volumes:
      - ./data/zookeeper/data:/data
      - ./data/zookeeper/datalog:/datalog
    healthcheck:
      test: ["CMD-SHELL", "echo ruok | nc localhost 2181 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:alpine
    container_name: redis_server
    ports:
      - "6379:6379"
    volumes:
      - ./data/redis:/data
    restart: always

  mysql:
    image: mysql:8.0
    container_name: mysql_server
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword  # Mật khẩu root
      MYSQL_DATABASE: url_shortener_db   # Tên database sẽ tự tạo
      MYSQL_USER: myuser                 # User thường
      MYSQL_PASSWORD: mypassword         # Pass user thường
    volumes:
      - ./data/mysql:/var/lib/mysql
    command: --default-authentication-plugin=mysql_native_password
    restart: always

  app:
    build: .
    container_name: url_shortener_app
    ports:
      - "8080:8080"
    depends_on:
      - mysql
      - redis
      - zookeeper
    environment:
      - DB_HOST=mysql_server
      - REDIS_HOST=redis_server
      - ZOOKEEPER_HOST=zookeeper_server
    restart: on-failure