
apiVersion: apps/v1
kind: Deployment
metadata:
  name: url-shortener-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: url-shortener
  template:
    metadata:
      labels:
        app: url-shortener
    spec:
      enableServiceLinks: false
      containers:
        - name: url-shortener
          image: ducthanhnguyen95/url-shortener:v1
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          env:
            - name: APP_BASE_URL
              value: "http://localhost:30000"

            - name: DB_HOST
              value: "mysql"
            - name: REDIS_HOST
              value: "redis"
            - name: ZOOKEEPER_HOST
              value: "zookeeper"

            - name: SPRING_DATASOURCE_USERNAME
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: mysql-user
            - name: SPRING_DATASOURCE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: mysql-user-password
---
apiVersion: v1
kind: Service
metadata:
  name: url-shortener-service
spec:
  type: NodePort
  selector:
    app: url-shortener
  ports:
    - port: 8080
      targetPort: 8080
      nodePort: 30000